@tailwind base;
@tailwind components;
body {
  margin: 0;
  font-family: "Lato" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #E9E9ED
}
html{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  flex-grow: 1;
}
.upload-container {
    position: relative;
}

.upload-container input {
    border: var(--regal-blue);
    border-radius: 16px;
    border-style: dashed;
    padding: 100px 0px 100px 45%;    
    height: 20rem;
    width: 100%;
}

.upload-container label {
    width: 100%;
}

.upload-container input:hover {
    background: #ddd;
}

::file-selector-button {
    display: none;
}

.upload-container:before {
    font-family: FontAwesome;
    position: absolute;
    bottom: 100px;
    left: 36%;
    content: "\f093 \a Drag and Drop files here";
    color: var(--regal-blue);
    font-weight: 600;
    font-size: 1.5em;    
}
@media screen and (max-width: 480px) {
    .upload-container:before {
        font-family: FontAwesome;
    position: absolute;
    bottom: 100px;
    left: 10%;
    content: "\f093 \a Drag and Drop files here";
    color: var(--regal-blue);
    font-weight: 600;
    font-size: 1.5em; 
    }
  }
  .loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }
@tailwind utilities;
