@tailwind base;
@tailwind components;
body {
  margin: 0;
  font-family: "Lato" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #E9E9ED
}
html{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  flex-grow: 1;
}
.upload-container {
    position: relative;
}

.upload-container input {
    border: var(--regal-blue);
    border-radius: 16px;
    border-style: dashed;
    padding: 100px 0px 100px 45%;    
    height: 20rem;
    width: 100%;
}

.upload-container label {
    width: 100%;
}

.upload-container input:hover {
    background: #ddd;
}

::file-selector-button {
    display: none;
}

.upload-container:before {
    font-family: FontAwesome;
    position: absolute;
    bottom: 100px;
    left: 36%;
    content: "\f093 \a Drag and Drop files here";
    color: var(--regal-blue);
    font-weight: 600;
    font-size: 1.5em;    
}
@media screen and (max-width: 480px) {
    .upload-container:before {
        font-family: FontAwesome;
    position: absolute;
    bottom: 100px;
    left: 10%;
    content: "\f093 \a Drag and Drop files here";
    color: var(--regal-blue);
    font-weight: 600;
    font-size: 1.5em; 
    }
  }
@tailwind utilities;
